:root{
    --test-border: 2px solid red;
    --font-size: 14pt;
}

body{
    background-color: bisque;
    font-family:'Trebuchet MS', sans-serif;
    color:#2B3B4E;
    margin: 0;
}

.slideRight-animation {
    animation: 1.3s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideRight;animation-delay: 0s;
}
@keyframes slideRight {              
    0% { opacity: 0; transform: translateX(30px); }                
    100% { opacity: 1; transform: translateX(0);   }
}

.slideUp-animation {
    animation: 1.3s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp;animation-delay: 0s;
}
@keyframes slideUp {  
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: inherit;  }    
}     


.content{
    position: relative;
    display:flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}
    .info{
        width:40%;
        height: 100vh;
        background-color: #F1543F;
        
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
    }   
        .regPic{
            width: 100%;
            position: relative;
            top: px;
        }
    .formBox{
        width:60%;
        height: 100vh;
        background-color: #90DFAA;
        font-size: var(--font-size);
        display:flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 40px 70px;
       
    }
        .formBox h1{
            padding-left: 20px;
        }
        p{
            padding-left: 20px;
            padding-right: 250px;
        }
        .form{
            height: 30%;
            background-color:#bfecce;
            display:flex;
            flex-direction: column;
            justify-content:center;
            gap: 15px;

            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
            input{
                margin: 0;
                color: rgb(83, 82, 82);
                font-size: 11pt;
                background:none;
                display:block;
                min-width: 225px;
                border: none;
                border-bottom:5px solid #2B3B4E;
                padding-bottom: 5px;
                padding-left: 5px;
                outline:none;
                transition-duration:0.4sec;
                -webkit-transition-duration: 0.4s;
            }
                input:invalid{
                    border-color: rgb(214, 35, 35);
                }
                input:valid{
                    border-color: #2B3B4E;
                }
                input:focus{
                    border-color:#619874;
                }
                input:hover{
                    border-color: aliceblue;
                }
            fieldset{
                padding-left: 50px;
                justify-content: left;
                align-items: center;
                gap: 75px;
                border-style: none;
                display:flex;
            }
                fieldset div{
   
        
                    margin: 0;
                }
                fieldset p{
                    height: 20px;
                    margin:0;
                    font-size: 12pt;
                    position: absolute;
                    color: rgb(214, 35, 35);
                }
        .submitButton{
            color:aliceblue;
            border: 2px solid black;
            margin: 30px;
            margin-bottom: 14px;
            max-width: 220px;
            position: relative;
            background-color:#619874;
            border-radius: 1em;
            font-size: 16px;
            padding: 0.8em 1.8em;
            cursor:pointer;
            user-select:none;
            text-align: center;
            text-decoration: none;
            transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;
        }
            .submitButton:hover{
                background-color: aliceblue;
                color:#2B3B4E;
            }
            .submitButton:active{
                background-color: #619874;
                top:2px;
            }
            .submitButton:active:after {
                box-shadow: 0 0 0 0 #2B3B4E;
                position: absolute;
                left: 0;
                top:0;
                opacity: 1;
                transition: 0s;
              }
            .submitButton:after {
                content: "";
                display: block;
                position: absolute;
                border-radius: 1em;
                left: 0;
                top:0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all 0.5s;
                box-shadow: 0 0 10px 15px #2B3B4E;
            }
        .logIn{
            margin-top: 0px;
            margin-left: 12px;
            font-size: 11pt;
            flex:0;
        }
            .logIn span{
                color:#619874;
                font-style: bold;
            }
            .logIn span:hover{
                cursor:pointer;
            }
        .footer{
            position: fixed;
            bottom:0;
            font-size:18px;
            color:gray;
            height:36px;
            width: 100%;
            padding-top:16px;
            text-align: center;
        }
            .footer a{
                text-decoration: none;
                color:gray;
            }