:root{
    --test-border: 2px solid red;
}

body{
    font-family:'Trebuchet MS', sans-serif;
    color:#2B3B4E;
    margin: 0;
}

.content{
    position: relative;
    display:flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}
    .info{
        width:40%;
        height: 100vh;
        background-color: #F1543F;
        
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
        .regPic{
            width: 100%;
            position: relative;
            top: px;
        }
    .formBox{
        width:60%;
        height: 100vh;
        background-color: #90DFAA;
       
    }
        .form{
            border: var(--test-border);
        }