:root{
    --test-border: 2px solid red;
}

body{
    font-family:'Trebuchet MS', sans-serif;
    background-color: rgb(133, 218, 191);
    margin: 0;
}

.content{
    position: relative;
    display:flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}
    .info{
        width:40%;
        height: 100vh;
        background-color: rgb(240, 92, 47);
    }   
        h2{
            margin-bottom: 10px;

        }
        .regPic{
            width: 100%;
            position: relative;
            top: px;
        }
    .formBox{
        width:60%;
        height: 100vh;
       
    }